build~=1.5.0
coverage~=7.14.0
cupy-cuda13x[ctk]~=14.0.1
flake8~=7.3.0
gurobipy~=13.0.2
matplotlib~=3.10.9
numpy~=2.4.4
open-spiel~=1.6.14
ordered-set~=4.1.0
orjson~=3.11.9
pandas~=3.0.3
scipy~=1.17.1
seaborn~=0.13.2
tqdm~=4.67.3
twine~=6.2.0
